.regions-container {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transform: translateY(-78px);
    margin-bottom: -60px;

    z-index: 10;
}

.sidebar-horizontal {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.menu-item {
    padding: 20px 20px;
    margin: 0 5px;
    background-color: #418cdc6f;
    border-bottom: 3px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #ffffffdd;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #e9e9e9;
    color: #000000bb;
}

.menu-item.active {
    background: linear-gradient(90deg, #44a2ffd0 0%, #6fc4fdd0 50%, #00a2ffd0 100%);
    color: white;
    border-bottom: 3px solid #0056b3;
}

.menu-item.current-region {
    background: linear-gradient(90deg, #0056b3, #003d80);
    color: white;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 10px 0 0 5px;
}

.country-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.country-item {
    padding: 10px 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;

    transition: all 0.3s ease;
}

.country-item:hover {
    background-color: #2990ff;
    border: 1px solid #ffffff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.country-item.active-country {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;
    font-weight: bold;
}
