 * {
    margin: 0;
    padding: 0;
 }

.content1 {
    width: 100%;
    max-width: 2000px;
    height: 100vh;
    transform: translateY(-82px);
    user-drag: none; /* Standard syntax */

    img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        user-drag: none; /* Standard syntax */
        pointer-events: none; /* 禁用图片的鼠标事件 */
    }
}

.carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none; /* Standard syntax */
    user-drag: none; /* Standard syntax */
}

.slide-content {
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    user-drag: none; /* Standard syntax */
}

.main-title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-shadow: none;
    background-image: linear-gradient(45deg, #65c1fa, #56beff);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    color: transparent;
    background-clip: text;
    margin: 10px 0;
    user-drag: none; /* Standard syntax */
}

.sub-title {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0 30px 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    user-drag: none; /* Standard syntax */
}

.description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
    user-drag: none; /* Standard syntax */
}

.button-container {
    display: flex;
    justify-content: flex-start;
    user-drag: none; /* Standard syntax */
}

.learn-more-btn {
    margin-top: 70px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 2px;
    user-drag: none; /* Standard syntax */
}

.learn-more-btn:hover {
    background: white;
    color: #333;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .main-title {
        font-size: 40px;
    }
    
    .sub-title {
        font-size: 24px;
    }
    
    .description {
        font-size: 18px;
    }
    
    .learn-more-btn {
        padding: 12px 30px;
        font-size: 16px;
    }
}