@font-face {
  font-family: "iconfont"; /* Project id 5093689 */
  src: url('iconfont.woff2?t=1766216690139') format('woff2'),
       url('iconfont.woff?t=1766216690139') format('woff'),
       url('iconfont.ttf?t=1766216690139') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accept-email:before {
  content: "\ea2c";
}

.icon-book-one:before {
  content: "\ea2d";
}

.icon-book:before {
  content: "\ea2e";
}

.icon-email-push:before {
  content: "\ea31";
}

.icon-file-success:before {
  content: "\ea35";
}

.icon-notes:before {
  content: "\ea36";
}

.icon-star:before {
  content: "\ea51";
}

.icon-transaction:before {
  content: "\ea68";
}

.icon-school:before {
  content: "\ea9b";
}

.icon-message-success:before {
  content: "\eaab";
}

.icon-message-search:before {
  content: "\eaac";
}

.icon-bookmark-three:before {
  content: "\ead1";
}

.icon-fireworks:before {
  content: "\ead2";
}

.icon-team-line:before {
  content: "\e886";
}

.icon-government-line:before {
  content: "\e6e4";
}

.icon-bank-line:before {
  content: "\e6e8";
}

.icon-award-line:before {
  content: "\e6ea";
}

.icon-exchange-cny-line:before {
  content: "\e7a0";
}

.icon-auction-line:before {
  content: "\e7a1";
}

.icon-secure-payment-line:before {
  content: "\e7a9";
}

.icon-exchange-cny-fill:before {
  content: "\e7ac";
}

.icon-wechat-pay-line:before {
  content: "\e7c5";
}

.icon-ship-line:before {
  content: "\e7f4";
}

.icon-truck-line:before {
  content: "\e7fe";
}

.icon-scales-3-line:before {
  content: "\e87a";
}

.icon-balance-two:before {
  content: "\ea1c";
}

.icon-protect:before {
  content: "\ea1d";
}

.icon-key:before {
  content: "\ea1e";
}

.icon-shield-add:before {
  content: "\ea1f";
}

.icon-protection:before {
  content: "\ea20";
}

.icon-shield:before {
  content: "\ea21";
}

.icon-umbrella:before {
  content: "\ea22";
}

.icon-email-security-filled:before {
  content: "\ea24";
}

.icon-folder-protection-one-filled:before {
  content: "\ea26";
}

.icon-agreement:before {
  content: "\ea2a";
}

.icon-doc-success:before {
  content: "\ea2b";
}

.icon-folder-success:before {
  content: "\ea2f";
}

.icon-folder-success-one:before {
  content: "\ea30";
}

.icon-security:before {
  content: "\ea32";
}

.icon-permissions:before {
  content: "\ea33";
}

.icon-view-list:before {
  content: "\ea34";
}

.icon-key-one:before {
  content: "\ea4b";
}

.icon-natural-mode:before {
  content: "\ea4e";
}

.icon-ad-product:before {
  content: "\ea59";
}

.icon-bank-transfer:before {
  content: "\ea64";
}

.icon-consume:before {
  content: "\ea65";
}

.icon-financing-one:before {
  content: "\ea66";
}

.icon-finance:before {
  content: "\ea67";
}

.icon-city:before {
  content: "\ea95";
}

.icon-upload-one:before {
  content: "\eaa4";
}

.icon-message-security-filled:before {
  content: "\eaa6";
}

.icon-comments:before {
  content: "\eaa7";
}

.icon-communication:before {
  content: "\eaa8";
}

.icon-phone-call:before {
  content: "\eaa9";
}

.icon-phone-telephone:before {
  content: "\eaaa";
}

.icon-airplane:before {
  content: "\eaad";
}

.icon-earth:before {
  content: "\eaae";
}

.icon-coconut-tree:before {
  content: "\eaaf";
}

.icon-taxi:before {
  content: "\eab0";
}

.icon-ship:before {
  content: "\eab1";
}

.icon-world:before {
  content: "\eab2";
}

.icon-effects:before {
  content: "\eab9";
}

.icon-audit:before {
  content: "\eacb";
}

.icon-certificate:before {
  content: "\eacc";
}

.icon-cooperative-handshake:before {
  content: "\eacd";
}

.icon-diamond:before {
  content: "\eace";
}

.icon-gavel:before {
  content: "\eacf";
}

.icon-degree-hat:before {
  content: "\ead0";
}

.icon-good-two:before {
  content: "\eae5";
}

.icon-positive-dynamics:before {
  content: "\eaf2";
}

.icon-sun:before {
  content: "\eafe";
}

.icon-truck:before {
  content: "\eb26";
}

.icon-address-book:before {
  content: "\eb2d";
}

.icon-id-card-h:before {
  content: "\eb2e";
}

.icon-peoples:before {
  content: "\eb2f";
}

.icon-people-top-card:before {
  content: "\eb30";
}

.icon-user:before {
  content: "\eb31";
}

.icon-trophy:before {
  content: "\eb34";
}

.icon-member:before {
  content: "\e9c4";
}

