.content3 {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: 800px;
    background-color: #f0f5f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    .account_opening{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .account_intro{
            width: 320px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: justify;
            margin-left: 50px;
        }

        .account_type {
            width: 1050px;
            height: 350px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            

            .back_img {
                width: 1050px;
                height: 330px;
                object-fit: fill;
                border-radius: 8px;
                filter: drop-shadow(2px 5px 2px rgba(0, 79, 144, 0.2)) ;
            }

            .back_display {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                width: 640px;
                height: 200px;
                top: 75px;

                img {
                    width: 150px;
                    height: 60px;
                    border-radius: 4px;
                    background-color: #fff;
                    display: block;
                    object-fit: fill;
                    transition: all 0.3s ease;
                }

                img:hover {
                    transform: scale(1.08);
                    transition: all 0.3s ease;
                    cursor: pointer;
                }
            }
        }
    }

    .account_body {
        width: 1420px;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >div {
            background-color: #f5f5f5;
            height: 360px;
            width: 320px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            transition: all 0.3s ease;
            border: 1px solid #eee;
            box-shadow: 0 2px 5px 2px rgba(0, 79, 144, 0.1);
            
            >div:not(.account_desc) {
                position: relative;
                top: 0;
                width: 100%;
                height: 210px;
                
                img {
                    position: absolute;
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                }
                div {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background-color: rgba(84, 175, 255, 0.804);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    p {
                        font-size: 20px;
                        position: relative;
                        margin-left: 30px;
                        transition: all 0.3s ease;
                        color: #38566a;
                    }
                    p::before {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 25px;
                        background-color: #fff;
                        position: absolute;
                        transform: translateX(-15px) translateY(3px);
                        transition: all 0.3s ease;
                    }
                }
            }

            .account_desc {
                font-size: 14px;
                padding: 20px 15px;

                .card-more {
                    transform: translateY(10px);
                }
            }
        }

        
        >div:hover {
            transform: translateY(-5px);
            transition: all 0.3s ease;
            background-color: white;
            filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
            cursor: pointer;
            
            >div {
                .title1 {
                    transform: translateX(5px);
                    transition: all 0.3s ease;
                    color: white;
                }
                .title1::before {
                    transform: translateX(-20px) translateY(3px);
                    transition: all 0.3s ease;
                }
            }
            .card-more p {
                transform: translateX(5px);
                transition: all 0.3s ease;
            }
        }
    }
}