* {
    padding: 0;
}

.content5 {
     width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .scoll_backImg {
        width: 100%;
        height: 600px;
        background-image: url('@/assets/img/scoll/5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        position: relative;

        .scoll_cover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 600px;
            background-image: linear-gradient(65deg, hsla(210, 3%, 24%, 0.9) 20%, hsla(211, 84%, 26%, 0.815) 90%);
            opacity: 0.6;
        }

        .cover_content {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .content_desc {
               color: white;
               font-size: 23px;
               z-index: 10;
               width: 310px;
               height: 350px;
               text-align: justify;
               padding-right: 80px;
               position: relative;

                .button {
                    width: 140px;
                    height: 50px;
                    font-size: 15px;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    background-color: white;
                    border-radius: 5px;
                    transition: all 0.3s;
                    margin-top: 60px;
                    gap: 5px;
                    .p1 {
                        font-weight: 800;
                    }
                }

                .button:hover {
                    background-color: #7e98f8;
                    color: white;
                    cursor: pointer;
                    transition: all 0.3s;
                    gap: 10px;
                }
            }
            .content_desc:after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                background-color: #ccc;
                position: absolute;
                right: 0;
                top: 0;
            }
            
            .content_body {
                height: 100%;
                padding-left: 20px;
                z-index: 10;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .num_display {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    width: 900px;

                    .num {
                        width: 150px;
                        text-align: center;
                        color: white;
                        font-weight: 600;
                        span {
                            font-size: 50px;
                            font-weight: 600;
                            background-image: linear-gradient(45deg, #90c7ff, #569df0);
                            color: transparent;
                            background-clip: text;
                            margin: 0 10px 0 0;
                        }
                    }
                }
                
                .account_img {
                    width: 1000px;
                    height: 200px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px;
                    margin-top: 10px;

                    img {
                        width: 140px;
                        height: 65px;
                        border-radius: 4px;
                        background-color: #fff;
                        display: block;
                        object-fit: fill;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }

    .scoll_content {
        margin-top: 55px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .scoll_content1 {
            width: 100%;
            height: 135px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            h2 {
                font-size: 30px;
                font-weight: 400;
                color: #0037ff7e;
                margin-bottom: 0;
            }

            span {
                font-size: 20px;
                color: #ccc;
            }
            span::after {
                content: "";
                display: block;
                width: 150px;
                height: 2px;
                background-color: #ccc;
                margin: 10px auto;
            }
        }
        .p3 {
            text-align: center;
        }

        .scoll_content2 {
            height: 600px;
            width: 100%;
        }
    }
}