.bottom_box {
    width: 100%;
    max-width: 2000px;
    height: 500px;
    background-color: #10123b;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;


    .bottom_link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .link {
            width: 200px;
            height: 250px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            
            a {
                color: white;
                text-decoration: none;
            }
        }
        .contact_us {
            width: 350px;
            height: 250px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            p {
                color: white;
            }
        }
        
        .link_img{
            width: 200px;
            height: 200px;
            background-color: aliceblue;
        }
    }

    .bottom_img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        overflow: hidden;
        
        .img1 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 110%;
            z-index: 10;
        }

        .img2 {
            position: absolute;
            width: 100%;
            height: 90%;
            bottom: 0;
            left: 0;
            z-index: 5;
        }
    }

    .bottom_text {
        position: absolute;
        bottom: 20%;
        left: 35%;
        color: rgb(69, 64, 64);
        z-index: 15;
        font-size: 16px;
    }
}